.Gif {
    border: 1px solid #eee;
    border-radius: 6px;
    color: white;
    display:flex;
    flex-direction: column;
    margin: 16px;
    padding: 32px;
    text-decoration: none;
    width: 200px;
}

.Gif h4 {
    margin: 0;
}

.Gif img {
    object-fit: contain;
}